@model MVC.Models.RegionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionPopulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionPopulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionPriceOfWaterBottle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionPriceOfWaterBottle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionArrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionArrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
