@model MVC.Models.PlaceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlaceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.averageAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.averageAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadToPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadToPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceArrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceArrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
